<a href="https://colab.research.google.com/github/RMoulla/Modelisation_Statistique/blob/main/Statistiques_Inf%C3%A9rentielles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Statistiques inférentielles

In [16]:
dataset <- read.csv("employés.csv")
head(dataset)

  ID Sexe Âge Niveau Salaire Ancienneté
1 1  M    24  BEP    1907    17
2 2  F    58  Aucun  2201     0
3 3  M    28  Bac+2  1923    10
4 4  M    42  Bac+2  1889    27
5 5  M    30  Bac+2  2382    24
6 6  F    39  Bac+2  1912    22

## Intervalles de confiance pour la variable salaire

In [19]:

# Calcul de la moyenne et de l'écart-type du salaire
moyenne_salaire <- mean(dataset$Salaire)
ecart_type_salaire <- sd(dataset$Salaire)

# Taille de l'échantillon
n <- length(dataset$Salaire)

# Niveau de confiance (95%)
niveau_confiance <- 0.95

# Calcul de la valeur critique (t-score)
alpha <- 1 - niveau_confiance



# Marge d'erreur
marge_erreur <- 1.96 * (ecart_type_salaire / sqrt(n))

# Intervalle de confiance
borne_inferieure <- moyenne_salaire - marge_erreur
borne_superieure <- moyenne_salaire + marge_erreur

# Affichage des résultats
cat("Intervalle de confiance à", niveau_confiance * 100, "% pour le salaire :\n")
cat("Borne inférieure :", borne_inferieure, "\n")
cat("Borne supérieure :", borne_superieure, "\n")
print(moyenne_salaire)

Intervalle de confiance à 95 % pour le salaire :
Borne inférieure : 1895.282
Borne supérieure : 2048.238
[1] 1971.76

In [28]:
x <- rnorm(100000, 2000, 200)

# Calcul de la moyenne et de l'écart-type de x
moyenne_x <- mean(x)
ecart_type_x <- sd(x)

# Taille de l'échantillon
n_x <- length(x)

# Niveau de confiance (95%)
niveau_confiance_x <- 0.95



# Marge d'erreur
marge_erreur_x <- 1.96* (ecart_type_x / sqrt(n_x))

# Intervalle de confiance
borne_inferieure_x <- moyenne_x - marge_erreur_x
borne_superieure_x <- moyenne_x + marge_erreur_x

# Affichage des résultats
cat("Intervalle de confiance à", niveau_confiance_x * 100, "% pour x :\n")
cat("Borne inférieure :", borne_inferieure_x, "\n")
cat("Borne supérieure :", borne_superieure_x, "\n")

Intervalle de confiance à 95 % pour x :
Borne inférieure : 1998.859
Borne supérieure : 2001.335

## Test d'hypothèse salaire

In [34]:
# Test d'hypothèse : salaire moyen = 2000

# Hypothèse nulle (H0) : le salaire moyen est égal à 2000
# Hypothèse alternative (H1) : le salaire moyen est différent de 2000

# Test t
t_test <- t.test(dataset$Salaire, mu = 2000)

# Affichage des résultats du test
print(t_test)

# Interprétation des résultats
# Si la p-valeur est inférieure au seuil de signification (alpha, généralement 0.05),
# on rejette l'hypothèse nulle.  Cela signifie que le salaire moyen est significativement différent de 2000.
# Sinon, on ne rejette pas l'hypothèse nulle.
alpha <- 0.05
if (t_test$p.value < alpha) {
  cat("On rejette l'hypothèse nulle. Le salaire moyen est significativement différent de 2000.\n")
} else {
  cat("On ne rejette pas l'hypothèse nulle. Il n'y a pas de preuve significative que le salaire moyen soit différent de 2000.\n")
}

	One Sample t-test

data:  dataset$Salaire
t = -0.72374, df = 49, p-value = 0.4727
alternative hypothesis: true mean is not equal to 2000
95 percent confidence interval:
 1893.348 2050.172
sample estimates:
mean of x
  1971.76

On ne rejette pas l'hypothèse nulle. Il n'y a pas de preuve significative que le salaire moyen soit différent de 2000.